        {{#queryParams}}
        {{#-first}}
        final Map<String, Collection<String>> queryParams = new HashMap<>(inputOptions.getQueryParams());
        {{/-first}}
        {{/queryParams}}
        {{#queryParams}}
        {{#isListContainer}}
        if ({{paramName}} != null) {
            {{#isEnum}}
            addToMapValues(queryParams, "{{baseName}}", Converter.convertEnumListToStringList({{paramName}}));
            {{/isEnum}}
            {{^isEnum}}
            {{#isUuid}}
            addToMapValues(queryParams, "{{baseName}}", Converter.convertUUIDListToStringList({{paramName}}));
            {{/isUuid}}
            {{^isUuid}}
            addToMapValues(queryParams, "{{baseName}}", {{paramName}});
            {{/isUuid}}
            {{/isEnum}}
        }
        {{/isListContainer}}
        {{^isListContainer}}
        {{#isMapContainer}}
        {{#isQueryPluginProperty}}
        if ({{paramName}} != null) {
            addToMapValues(queryParams, "{{baseName}}", Converter.convertPluginPropertyMap({{paramName}}));
        }
        {{/isQueryPluginProperty}}
        {{/isMapContainer}}
        {{^isMapContainer}}
        if ({{paramName}} != null) {
            addToMapValues(queryParams, "{{baseName}}", List.of(String.valueOf({{paramName}})));
        }
        {{/isMapContainer}}
        {{/isListContainer}}
        {{/queryParams}}