import org.killbill.billing.client.model.KillBillObject;

public class {{classname}} extends KillBillObject {

    {{#vars}}
    {{#isContainer}}
    private {{{datatypeWithEnum}}} {{name}}{{#required}} = {{{defaultValue}}}{{/required}}{{^required}} = null{{/required}};
    {{/isContainer}}
    {{^isContainer}}
    private {{{datatypeWithEnum}}} {{name}} = {{{defaultValue}}};
    {{/isContainer}}

    {{/vars}}

    public {{classname}}() {
    }

    {{#hasVars}}
    public {{classname}}({{#vars}}final {{{datatypeWithEnum}}} {{name}}{{#hasMore}},
                     {{/hasMore}}{{/vars}}) {
        {{#vars}}
        this.{{name}} = {{name}};
        {{/vars}}
    }
    {{/hasVars}}

    {{#vars}}
    {{^isReadOnly}}
    public {{classname}} {{setter}}(final {{{datatypeWithEnum}}} {{name}}) {
        this.{{name}} = {{name}};
        return this;
    }
    {{#isListContainer}}

    public {{classname}} add{{nameInCamelCase}}Item(final {{{items.datatypeWithEnum}}} {{name}}Item) {
        {{^required}}
        if (this.{{name}} == null) {
            this.{{name}} = {{{defaultValue}}};
        }
        {{/required}}
        this.{{name}}.add({{name}}Item);
        return this;
    }
    {{/isListContainer}}
    {{#isMapContainer}}

    public {{classname}} put{{nameInCamelCase}}Item(final String key, final {{{items.datatypeWithEnum}}} {{name}}Item) {
        {{^required}}
        if (this.{{name}} == null) {
            this.{{name}} = {{{defaultValue}}};
        }
        {{/required}}
        this.{{name}}.put(key, {{name}}Item);
        return this;
    }
    {{/isMapContainer}}

    {{/isReadOnly}}
    {{#vendorExtensions.extraAnnotation}}
    {{{vendorExtensions.extraAnnotation}}}
    {{/vendorExtensions.extraAnnotation}}
    public {{{datatypeWithEnum}}} {{#isBoolean}}is{{/isBoolean}}{{getter}}() {
        return {{name}};
    }

    {{/vars}}

    @Override
    public boolean equals(java.lang.Object o) {
        if (this == o) {
            return true;
        }
        if (o == null || getClass() != o.getClass()) {
            return false;
        }{{#hasVars}}
        {{classname}} {{classVarName}} = ({{classname}}) o;
        return {{#vars}}{{#isByteArray}}Arrays{{/isByteArray}}{{#isBinary}}Arrays{{/isBinary}}{{^isByteArray}}{{^isBinary}}Objects{{/isBinary}}{{/isByteArray}}.equals(this.{{name}}, {{classVarName}}.{{name}}){{#hasMore}} &&
        {{/hasMore}}{{/vars}}{{#parent}} &&
        super.equals(o){{/parent}};{{/hasVars}}{{^hasVars}}
        return {{#parent}}super.equals(o){{/parent}}{{^parent}}true{{/parent}};{{/hasVars}}
    }

    @Override
    public int hashCode() {
        return Objects.hash({{#vars}}{{^isByteArray}}{{^isBinary}}{{name}}{{/isBinary}}{{/isByteArray}}{{#isByteArray}}Arrays.hashCode({{name}}){{/isByteArray}}{{#isBinary}}Arrays.hashCode({{name}}){{/isBinary}}{{#hasMore}},
                            {{/hasMore}}{{/vars}}{{#parent}}{{#hasVars}}, {{/hasVars}}super.hashCode(){{/parent}});
    }


    @Override
    public String toString() {
        StringBuilder sb = new StringBuilder();
        sb.append("class {{classname}} {\n");
        {{#parent}}sb.append("    ").append(toIndentedString(super.toString())).append("\n");{{/parent}}
        {{#vars}}sb.append("    {{name}}: ").append(toIndentedString({{name}})).append("\n");
        {{/vars}}sb.append("}");
        return sb.toString();
    }

    /**
     * Convert the given object to string with each line indented by 4 spaces
     * (except the first line).
     */
    private String toIndentedString(java.lang.Object o) {
        if (o == null) {
            return "null";
        }
        return o.toString().replace("\n", "\n    ");
    }
}
