# coding: utf-8

# flake8: noqa

{{>copyright}}

{{>partial_header}}

base_uri = 'http://localhost:8080'
username = 'admin'
password = 'password'
api_key = 'bob'
api_secret = 'lazar'

try:
import json
except ImportError:
# Python 2.5 compatibility (import your own json module, e.g. killbill.json=simplejson)
pass

# Custom urllib opener, e.g.:
#   from killbill.grinder_http_handler import GrinderHTTPHandler
#   killbill.opener = GrinderHTTPHandler
opener = None

import logging

logging.basicConfig(level=logging.DEBUG)

from __future__ import absolute_import

# import apis into sdk package
{{#apiInfo}}{{#apis}}from {{apiPackage}}.{{classVarName}} import {{classname}}
{{/apis}}{{/apiInfo}}
# import ApiClient
from {{packageName}}.api_client import ApiClient
from {{packageName}}.configuration import Configuration
# import models into sdk package
{{#models}}{{#model}}from {{modelPackage}}.{{classFilename}} import {{classname}}
{{/model}}{{/models}}